$primary-color: #000000;
$secondary-color: #ffffff;
$background-color: rgb(201, 207, 200);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    font-family: Poppins, Arial, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;    
}

.header {
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    background: $secondary-color url(/src/assets/img/2453902-x5aos7-piatto-vegetale.jpeg) no-repeat center ; 
    background-size: cover;    
}

.header-text {
    text-align: center;
    width: 50%;
}

.main {
    text-align: center;
    padding-top: 2rem;
    flex : 1 0 auto;
    background-color: $background-color;
    padding: 20px;

    p {
        font-size: 1.2rem;
        margin: 5px;
        
    }

    li {
        list-style-type: none;
    }

    .search-bar {
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        border: 2px solid $primary-color;
        outline: none;
        transition: border-color 0.5s ease;
        margin: 8px 0 15px;;
        width: 70%;

        &:focus {
            border-color: $secondary-color;
        }
    }

    .search-button {
        padding: 12px 25px;
        font-size: 1rem;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 8px;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }

        &:active {
            background-color: $primary-color;
            color: $secondary-color;
        }

    }

    .info-button {
        padding: 12px 25px;
        font-size: 1rem;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 5px;;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }

        &:active {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }

    .recipe-list {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    img {
        width: 60%;
        border-radius: 5px;
        box-shadow: 0 0 10px $primary-color;
    }
}

.footer {
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 20px;
    text-align: right;
    background: $secondary-color url(/src/assets/img/2453902-x5aos7-piatto-vegetale\ -\ Copia.jpeg) no-repeat center ; 
    background-size: cover;    
    box-shadow: 0 0 10px  $secondary-color;
}

@media only screen and (max-width:425px) {
        .header, .footer {
            padding-top: 2px;
            font-size: 13px;
        }

        .recipe-list{
            h1 {
                font-size: 1.8rem;
                margin: 5px;
            }
            img {
                width: 80%;
                height: auto;
            }
            
        }
    }
        


